@tailwind base;
@tailwind components;

/* 
@font-face {
  font-family: 'KumbhSans';
  src: url('../public/fonts/KumbhSans-Regular.woff2') format('woff2');
} */

@font-face {
  font-family: 'KumbhSans';
  src: url('../fonts/static/KumbhSans-Regular.ttf') ;
}

@tailwind utilities;